// Styles for mobile nav for screens <992px

#nav-open { // Button for turning on menu
	float: right;
	margin: 21px 0 0 5px;
	padding: 0;
	border: 0;
	background: none;
	color: $white;
	font-size: 36px;
	cursor: pointer;

	&.icon-off { // Hides icon when this class is added by JS
		display:none;
	}
}

#nav-close { // Button for turning off menu
	position: fixed;
	top: 18px;
	right: 12px;
	z-index: 9100;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	color: $white;
	font-size: 40px;
	cursor: pointer;
}

@media (max-width: 991px) {
	.fixed-logo { // Applied by JS
		position: fixed;
		top: 0;
		left: 15px;
		z-index: 9999;
	}

	.nav { // Container for mobile menu, adds half-transparent overlay on vieport
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 320px;
		height: 100%;
		z-index: 9000;
		overflow: auto;
		background: #333;
		background: rgba(0,0,0, 0.8);
		text-align: center;
	}

	.nav.nav-mobile-off { // Turns off mobile menu by default, later JS removes this class to show it.
		display: none;
	}

	.nav.nav-mobile-off.touch_effect {
		@include touch-fix;
		display: none;
	}

	.nav-mobile-bg { // Removes transparency in the top of mobile menu
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $mobile-nav-header-bg;
	}

	.navigation { // Styles for mobile menu
		margin: 100px 0 0 0;
		padding: 0;
		list-style-type: none;
	}

	.navigation li {
		background: $mobile-nav-bg;
		border-bottom: 1px solid $mobile-nav-border;

		&:first-of-type { border-top: 6px solid $mobile-nav-border; }
	}

	.navigation li a {
		display: block;
		padding: 15px 0;
		color: $white;
		font-size: $larger-font-size;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,&:active {
			background: darken($mobile-nav-bg, 1%);
			font-weight: bold;
		}
	}

	.navigation li a.touch_effect {
		@include touch-fix;
		background: darken($mobile-nav-bg, 1%);
		font-weight: bold;
	}

	.navigation .active {
		color: $main-highlight;
		font-weight: bold;
	}
}


// Horizontal menu for screens >992px

@media (min-width: 992px) {
	#nav-open,#nav-close { // Hides mobile nav buttons
		display: none;
	}

	.navigation {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 0;
	}

	.navigation li {
		display: inline-block;
		border-left: 1px solid $main-header-line;

		&:last-of-type {  border-right: 1px solid $main-header-line; }
	}

	.navigation li a {
		display: block;
		padding: 54px 42px;
		border-bottom: 6px solid $main-header-line;
		color: $white;
		font-size: $larger-font-size;
		text-decoration: none;

		&:hover,&:active { background: darken($main-header-bg, 1%); }
	}

	.navigation li a.touch_effect {
		@include touch-fix;
		background: darken($main-header-bg, 1%);
	}

	.navigation .active {
		border-bottom: 6px solid $main-highlight;
		color: $main-highlight;
		font-weight: bold;
	}
}