// #### POST COMMENT SECTION ####

.post-comments-section {
  margin: 40px 0 0 0;

  .title { 
    margin: 10px 0 25px 0;
    font-size: 28px;
  }

  .subtitle { 
    margin: 40px 0 0 0;
    font-size: 24px;

    small { font-size: 70%; }
  }

  .user-details {
    a { text-decoration: none; }
  }
}


.post-comment {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 2px solid $comment-border-color;

  &:not(:last-of-type) { margin-bottom: 40px;}

  p { margin: 15px 0 }

  &.nested { // Nests comment
    margin-top: -20px;
    margin-left: 30px;

    @include screen-min(400px) { margin-left: 55px; }

    @include screen-sm { margin-left: 110px; }
  }


  .avatar {
    position: absolute;
    z-index: 1999;
    top: 0;
    left: 0;
    max-width: 90px;
    border: 2px solid darken($comment-border-color, 15%);
  }


  .content { padding: 0 0 0 110px;}


  .author { 
    display: inline-block;
    margin: 0;
    font-size: 20px;
  }


  .date {
    display: inline-block;
    margin-left: 10px;
  }

  // Comment reply button
  .reply {
     color: $comment-highlight;
     text-decoration: none;

     &:hover,&:focus {
        color: darken($comment-highlight, 5%);
        text-decoration: underline;
     } 
  }
}


// Changes to basic styles if comment comes  from post author.
.post-author {
  .avatar { border-color: lighten($comment-highlight, 5%); }
}


// New comment form
.comment-form {
  position: relative;
  margin: 10px 0 70px 0;


  // General styles for both input and textarea
  input ,textarea {
     padding: 10px;
     border: 2px solid darken($comment-border-color, 8%);
     background: $white;

     &:focus { border: 2px solid lighten($comment-highlight,15%); }
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    @include screen-md {
      display: inline-block;
      width: 49%;

      &:nth-of-type(2) { float: right; }
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 125px;
    margin: 0 auto;
  }


  .button {
    float: right;
    margin-top: 15px;
  }
}